<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.turchyn.spring"/>
    <context:property-placeholder location="classpath:musicPalyer.properties"/>

<!--    <bean id="musicBean1"-->
<!--          class="com.turchyn.spring.RockMusic"-->
<!--          init-method="myInit"-->
<!--          destroy-method="myDestroy">-->
<!--    </bean>-->
<!--    <bean id="musicBean2"-->
<!--          class="com.turchyn.spring.ClassicalMusic">-->
<!--    </bean>-->
<!--    <bean id="musicBean3"-->
<!--          class="com.turchyn.spring.RapMusic">-->
<!--    </bean>-->

<!--    <bean id="musicList"-->
<!--          class="com.turchyn.spring.MusicPlayer">-->
<!--        <property name="musicList">-->
<!--                <list>-->
<!--                    <ref bean = "musicBean1"></ref>-->
<!--                    <ref bean = "musicBean2"></ref>-->
<!--                    <ref bean = "musicBean3"></ref>-->
<!--                </list>-->
<!--        </property>-->
<!--    </bean>-->

<!--    <bean id="musicPlayer"-->
<!--          class="com.turchyn.spring.MusicPlayer">-->
<!--        <property name="music" ref="musicBean1"/>-->
<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--    </bean>-->

</beans>